@import 'tailwindcss';
@import './shadcn.css';
@import './custom.css';
@config '../../tailwind.config.ts';

:root {
  --background: #ffffff;
  --foreground: #020618;
  --font-fira: 'Fira Code', monospace;
}

.dark {
  --background: #020618;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-fira);
}
